<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Recipes!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="subtitle">WTF Recipes</h1>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
          <%= form_for @conn, recipe_path(@conn, :index), [as: :search, method: :get], fn f -> %>
            <div class="field is-grouped">
              <div class="control">
                <%= text_input f, :name, class: "input", placeholder: "Search for..." %>
              </div>
              <div class="control">
                <%= submit "Search", class: "button is-primary" %>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </nav>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <section class="section">
      <div class="container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </section>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
