<h1 class="title">Edit Ingridient</h1>

<%= render "form.html", Map.put(assigns, :action, recipe_ingridient_path(@conn, :update, @recipe, @ingridient)) %>

<span><%= link "Back", to: recipe_path(@conn, :show, @recipe) %></span>
