<h1 class="title">New Ingridient</h1>

<%= render "form.html", Map.put(assigns, :action, recipe_ingridient_path(@conn, :create, @recipe)) %>

<%= link "Back", to: recipe_path(@conn, :show, @recipe) %>